.DS_Store
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
wandb/

*.o
*.out
*.nsys-rep
*.ncu-rep
*.rpl

final-project/*_run_out.csv
final-project/temp.csv
final-project/nbody_c*
final-project/nbody_hip*

/backups/
